@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Montserrat:ital,wght@0,300;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,100;1,300&display=swap');

$color1:#131212;
$color2:#ffffff;
$color3:#808080;
$color4:#232323;
$color5:#262525;

$font1: 'Montserrat', sans-serif;
$font2: uppercase;
$font3: 'Times New Roman', Times, serif;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* inicio css header nav */
.headerOficial{
    height: 170px;
    width: 100%;
    background-color: $color1;

}

#logo{
    width: 100%;
    

}

header a{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    
}

header nav{
    width: 100%;
    
}

nav ul{
    display: flex;
    flex-flow: wrap row;
    justify-content:space-evenly;
    
}

nav ul li{
    list-style: none;
    margin-left: 30px;
    display: inline-block;
    padding-top: 10px;  
}

.navbar{
    display: none;
}

nav a {
    text-decoration: none !important;
    color: #fff;
    font-size: 23px;
    text-transform: $font2;
    font-family: $font3;
    text-shadow: 1px 2px 2px $color1;
}

nav a:hover{
    color: $color3;
}

/* fin css header nav */

/* inicio css main galeria */

.mainGaleria{
    height: 150vh;
    width: 100%;
    background-color: $color5;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows:  repeat(11, 1fr);
    padding: 25px;
    grid-gap: 15px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.foto1{
    grid-column: 1/5;
    grid-row: 1/5;
}

.foto2{
    grid-column: 5/6;
    grid-row: 1/5;
}

.foto3{
    grid-column: 6/7;
    grid-row: 1/5;
}

.foto4{
    grid-column: 7/8;
    grid-row: 1/5;
}

.foto5{
    grid-column: 1/5;
    grid-row: 5/9;
}

.foto6{
    grid-column: 5/8;
    grid-row: 5/9;
}

.foto8{
    grid-column: 1/5;
    grid-row: 9/12;
}

.foto9{
    grid-column: 5/8;
    grid-row: 9/12;
}

/* fin css main galeria */


/* incio css footer */

.foot{
    width: 100%;
    background-color: $color1;
    overflow: hidden;
    font-family: $font1;
    .cajaDatos{
            width: 95%;
            margin: auto; 
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            padding: 5px 10px;
            .cajaIco ul li{
                list-style: none;
                display: inline-block;
            }
            .cajaCopy{
                text-align: center;
                color: $color2;
                grid-column: 2/3;
                font-size: 13px;
                margin-bottom: -15px;
            }
            .cajaDatos1 .datos{
                display: flex;
                flex-flow: wrap row;
                justify-content: space-between;
                width: 70%;
                margin-top: -16px;
                font-size: 13px;
            }
            .cajaIco{
                grid-column: 3/4;
                justify-self: end;
            }
        }
}

.cajaDatos .cajaDatos1 p a{
    text-decoration: none;
    color: $color2;
    margin-right: 0px;
}

.nombre{
    color: $color2;
    font-size: 13px;
}

/* fin css footer */


@media only screen and (min-width: 1020px){

.headerOficial{
    height: 170px;
}

header a img{
    width: 440px;
    height: 110px;
    
}

/* inicio media query header */

#logo{
    height: 60%;
    padding-top: 15px;
}

nav ul{
    padding-top: 5px;
}

/* inicio media query main */

.foto7{
    grid-column: 5/6;
    grid-row: 1/5;
}
.foto2{
    display: none;
}


/* fin media query main */

/* inicio media query footer */

.foot {
    .cajaIco{
        display: grid;
        flex-flow: wrap row;
        justify-content: right;
    }
    .cajaDatos .cajaCopy{
        padding-top: 15px;
        font-size: 14px;
    }
}
/* fin media query footer */
}


@media only screen and (max-width: 930px){


/* inicio media query header */

.headerOficial{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: auto;
    
}

#logo{
    width: 100%;
    padding-top: 15px;
    padding-right: 30px;
}

nav ul{
    display: flex;
    flex-flow: wrap row;
    justify-content:space-evenly;
    padding-top: 15px;
    padding-right: 20px;
}

/* fin media query header */

/* inicio media query main */

.mainGaleria{
    height: 300vh;
    width: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 0fr ;
    grid-template-rows: repeat(14, 1fr);
    padding: 10px;
}

.foto1{
    grid-column: 2/3;
    grid-row: 1/3;
}

.foto2{
    grid-column: 2/3;
    grid-row: 3/5;
}

.foto3{
    display: none;
}

.foto4{
    grid-column: 2/3;
    grid-row: 7/9;
}

.foto5{
    grid-column: 2/3;
    grid-row: 9/11;
}

.foto6{
    grid-column: 2/3;
    grid-row: 11/13;
}

.foto8{
    grid-column: 2/3;
    grid-row: 5/7;
}

.foto9{
    grid-column: 2/3;
    grid-row: 13/15;
}

/* fin media query main */

/*inicio footer query  */

.foot{ 
    .cajaDatos{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
        .cajaDatos1{
            text-align: center;
            .datos{
                padding-top: 5px;
                display: flex;
                flex-flow: wrap column;
                width: 100%;
            }
        }
        .cajaIco{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .cajaCopy{
            padding-top: 10px;
            font-size: 13px;
        }
    }
}
/* fin query footer */
}

@media only screen and (max-width: 500px){

/* inicio media query header */
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.headerOficial{
    display: block;
}

nav{
    display: none;
}

nav ul li a{
    display: none;
}

header a{
    display: none;
}

.navbar{
    display: flex;
}

.navbar-toggler{
    border: 0.4px solid white !important;
}

.nav-link{
    text-transform: uppercase;
    font-family: "Montserrat', sans-serif";
    text-shadow: 1px 2px 2px grey;
    color: #fff !important;
    font-size: 20px;
}
/* fin media query header */

/* inicio media query main */

.mainGaleria{
    height: 250vh;
    width: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 0fr ;
    grid-template-rows: repeat(12, 1fr);
    padding: 10px;
    
}

.foto1{
    grid-column: 2/3;
    grid-row: 1/3;
}

.foto2{
    grid-column: 2/3;
    grid-row: 3/5;
}

.foto8{
    grid-column: 2/3;
    grid-row: 5/7;
}

.foto4{
    grid-column: 2/3;
    grid-row: 7/9;
}

.foto5{
    grid-column: 2/3;
    grid-row: 9/11;
}

.foto6{
    grid-column: 2/3;
    grid-row: 11/13;
}

/* fin media query main */

/* incio media query footer */
.foot{ 
    .cajaDatos{
        display: flex;
        flex-flow: wrap column;
        justify-content: center;
        .cajaDatos1 .datos{
            display: flex;
            flex-flow: wrap column;
        }
        .cajaIco{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .cajaCopy{
            padding-top: 10px;
            font-size: 13px;
        }
    }
}

/* fin media query footer */
}

@media only screen and (max-width: 380px){

.navbar{
    display: flex;
}

.mainGaleria{
    height: 200vh ;
}

}