@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Montserrat:ital,wght@0,300;0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,100;1,300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* inicio css header nav */
.headerOficial {
  height: 170px;
  width: 100%;
  background-color: #131212;
}

#logo {
  width: 100%;
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav {
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav ul li {
  list-style: none;
  margin-left: 30px;
  display: inline-block;
  padding-top: 10px;
}

.navbar {
  display: none;
}

nav a {
  text-decoration: none !important;
  color: #fff;
  font-size: 23px;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 1px 2px 2px #131212;
}

nav a:hover {
  color: #808080;
}

/* fin css header nav */
/* inicio css main galeria */
.mainGaleria {
  height: 100vh;
  width: 100%;
  background-color: #262525;
  display: -ms-grid;
  display: grid;
  padding: 25px;
  grid-gap: 15px;
}

.foto1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-image: url(../media/img/IMG_8844.JPG);
  background-size: cover;
  background-position: center;
}

.foto2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-image: url(../media/img/IMG_3476.JPG);
  background-size: cover;
  background-position: center;
}

.foto3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-image: url(../media/img/IMG_2345.JPG);
  background-size: cover;
  background-position: top;
}

.foto4 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-image: url(../media/img/IMG_9234.JPG);
  background-size: cover;
  background-position: center;
}

.foto5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  background-image: url(../media/img/IMG_3733.JPG);
  background-size: cover;
  background-position: end;
}

.foto6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  background-image: url(../media/img/IMG_2543.JPG);
  background-size: cover;
  background-position: center;
}

/* fin css main galeria */
/* incio css footer */
.foot {
  width: 100%;
  background-color: #131212;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.foot .cajaDatos {
  width: 95%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 5px 10px;
}

.foot .cajaDatos .cajaIco ul li {
  list-style: none;
  display: inline-block;
}

.foot .cajaDatos .cajaCopy {
  text-align: center;
  color: #ffffff;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 13px;
  margin-bottom: -15px;
}

.foot .cajaDatos .cajaDatos1 .datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin-top: -16px;
  font-size: 13px;
}

.foot .cajaDatos .cajaIco {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-column-align: end;
      justify-self: end;
}

.cajaDatos .cajaDatos1 p a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 0px;
}

.nombre {
  color: #ffffff;
  font-size: 13px;
}

/* fin css footer */
@media only screen and (min-width: 1024px) {
  .headerOficial {
    height: 170px;
  }
  header a img {
    width: 440px;
    height: 110px;
  }
  /* inicio media query header */
  #logo {
    height: 60%;
    padding-top: 15px;
  }
  nav ul {
    padding-top: 5px;
  }
  /* inicio media query main */
  .mainGaleria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .foto1 {
    background-position-x: 0px;
  }
  .foto3 {
    background-position: initial;
  }
  .foto2 {
    background-image: url(../media/img/IMG_9710.JPG);
    background-position: top;
  }
  .foto4 {
    background-position-x: 470px;
  }
  /* fin media query main */
  /* inicio media query footer */
  .foot .cajaIco {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .foot .cajaDatos .cajaCopy {
    padding-top: 15px;
    font-size: 14px;
  }
  /* fin media query footer */
}

@media only screen and (max-width: 930px) {
  /* inicio media query header */
  .headerOficial {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    height: auto;
  }
  #logo {
    width: 100%;
    padding-top: 15px;
    padding-right: 30px;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 15px;
    padding-right: 20px;
  }
  /* fin media query header */
  /* inicio media query main */
  .mainGaleria {
    height: 280vh;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0fr 1fr 0fr;
        grid-template-columns: 0fr 1fr 0fr;
    -ms-grid-rows: (1fr)[12];
        grid-template-rows: repeat(12, 1fr);
    padding: 10px;
  }
  .foto1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    background-image: url(../media/img/IMG_8844.JPG);
    background-size: cover;
    background-position: center;
    height: 100%;
    background-size: 700px 450px;
    background-repeat: no-repeat;
  }
  .foto2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    background-image: url(../media/img/IMG_3476.JPG);
    background-size: cover;
    background-position: center;
    background-size: 700px 450px;
    background-repeat: no-repeat;
  }
  .foto3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5/7;
    background-image: url(../media/img/IMG_1932.jpg);
    background-size: cover;
    background-position: top;
    background-size: 700px 450px;
    background-repeat: no-repeat;
  }
  .foto4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7/9;
    background-image: url(../media/img/IMG_9234.JPG);
    background-size: cover;
    background-position: center;
    background-size: 700px 450px;
    background-repeat: no-repeat;
  }
  .foto5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 9;
    -ms-grid-row-span: 2;
    grid-row: 9/11;
    background-image: url(../media/img/IMG_3733.JPG);
    background-size: cover;
    background-position: center;
    background-size: 700px 450px;
    background-repeat: no-repeat;
  }
  .foto6 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 11;
    -ms-grid-row-span: 2;
    grid-row: 11/13;
    background-image: url(../media/img/IMG_2543.JPG);
    background-size: cover;
    background-position: center;
    background-size: 700px 450px;
    background-repeat: no-repeat;
  }
  /* fin media query main */
  /*inicio footer query  */
  .foot .cajaDatos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foot .cajaDatos .cajaDatos1 {
    text-align: center;
  }
  .foot .cajaDatos .cajaDatos1 .datos {
    padding-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    width: 100%;
  }
  .foot .cajaDatos .cajaIco {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foot .cajaDatos .cajaCopy {
    padding-top: 10px;
    font-size: 13px;
  }
  /* fin query footer */
}

@media only screen and (max-width: 500px) {
  /* inicio media query header */
  html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
  .headerOficial {
    display: block;
  }
  nav {
    display: none;
  }
  nav ul li a {
    display: none;
  }
  header a {
    display: none;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-toggler {
    border: 0.4px solid white !important;
  }
  .nav-link {
    text-transform: uppercase;
    font-family: "Montserrat', sans-serif";
    text-shadow: 1px 2px 2px grey;
    color: #fff !important;
    font-size: 20px;
  }
  /* fin media query header */
  /* inicio media query main */
  .mainGaleria {
    height: 250vh;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0fr 1fr 0fr;
        grid-template-columns: 0fr 1fr 0fr;
    -ms-grid-rows: (1fr)[12];
        grid-template-rows: repeat(12, 1fr);
    padding: 10px;
  }
  .foto1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    background-image: url(../media/img/IMG_8844.JPG);
    background-size: cover;
    background-position: center;
    height: 100%;
    background-size: 400px 300px;
    background-repeat: no-repeat;
  }
  .foto2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    background-image: url(../media/img/IMG_3476.JPG);
    background-size: cover;
    background-position: center;
    background-size: 400px 300px;
    background-repeat: no-repeat;
  }
  .foto3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5/7;
    background-image: url(../media/img/IMG_1932.jpg);
    background-size: cover;
    background-position: top;
    background-size: 400px 300px;
    background-repeat: no-repeat;
  }
  .foto4 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7/9;
    background-image: url(../media/img/IMG_9234.JPG);
    background-size: cover;
    background-position: center;
    background-size: 400px 300px;
    background-repeat: no-repeat;
  }
  .foto5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 9;
    -ms-grid-row-span: 2;
    grid-row: 9/11;
    background-image: url(../media/img/IMG_3733.JPG);
    background-size: cover;
    background-position: center;
    background-size: 400px 300px;
    background-repeat: no-repeat;
  }
  .foto6 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 11;
    -ms-grid-row-span: 2;
    grid-row: 11/13;
    background-image: url(../media/img/IMG_2543.JPG);
    background-size: cover;
    background-position: center;
    background-size: 400px 300px;
    background-repeat: no-repeat;
  }
  /* fin media query main */
  /* incio media query footer */
  .foot .cajaDatos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foot .cajaDatos .cajaDatos1 .datos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
  }
  .foot .cajaDatos .cajaIco {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foot .cajaDatos .cajaCopy {
    padding-top: 10px;
    font-size: 13px;
  }
  /* fin media query footer */
}

@media only screen and (max-width: 380px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mainGaleria {
    height: 200vh;
  }
}
/*# sourceMappingURL=galeria.css.map */