@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Montserrat:ital,wght@0,300;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');


$color1:#131212;
$color2:#ffffff;
$color3:#808080;
$color4:#232323;
$color5:#ffb510;
$color6:#e91e63;

$font1: "Montserrat', sans-serif";
$font2: uppercase;


*{
    padding: 0px;
    margin: 0px;
}


/* inicio css header nav */
header{
    height: 0px;
    width: 100%;
    background-color: $color1;

    a{
        display: flex;
        flex-flow: wrap row;
        justify-content: center; 
    }

    nav{
        width: 100%;
    }
}

#logo{
    width: 100%;
    padding-top: 10px;
    height: 105px;
    
}

nav{ 
    ul{
        display: flex;
        flex-flow: wrap row;
        justify-content:space-evenly;
        
        li{
            list-style: none;
            margin-left: 30px;
            display: inline-block;
            margin-top: 10px;
        
            a {
                text-decoration: none !important;
                color: $color2;
                font-size: 23px;
                text-transform: $font2;
                font-family: $font1;
                text-shadow: 1px 2px 2px $color1;
            }
        }
    }

}

nav a:hover{
    color: $color3;
}

/* fin css header nav */

/* inicio css cuerpo index  */
.mainIndex{
    height: 90vh;
    width: 100%;
    background-image: url(../media/img/IMG_2120.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: mainIndex 30s linear infinite 4s;
    animation-timing-function: ease-in-out;
}


/* fin css cuerpo index */

/* inicio css footer */

.foot{
    width: 100%;
    background-color: $color1;
    overflow: hidden;
    font-family: $font1;
        
    .cajaDatos{
            width: 95%;
            margin: auto; 
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            padding: 5px 10px;
                
            .cajaIco ul li{
                    list-style: none;
                    display: inline-block;
            }
                
            .cajaCopy{
                text-align: center;
                color: $color2;
                grid-column: 2/3;
                font-size: 17px;
                margin-bottom: -15px;
            }
                
            .cajaDatos1 .datos{
                display: flex;
                flex-flow: wrap row;
                justify-content: space-between;
                width: 70%;
                margin-top: -16px;
            }
                
            .cajaIco{
                grid-column: 3/4;
                justify-self: end;
            }
        }
}

.cajaDatos .cajaDatos1 p a{
    text-decoration: none;
    color: $color2;
    margin-right: 0px;
}

.nombre{
    color: $color2;
}


/* fin css footer */


@keyframes mainIndex {

    0%, 100%{
        background-image: url(../media/img/IMG_2120.JPG);
    }

    25%{
        background-image: url(../media/img/IMG_2624.JPG);
    }

    50%{
        background-image: url(../media/img/IMG_5740.JPG);
    }

    75%{
        background-image: url(../media/img/IMG_9234.JPG);
    }
}


/* inicio presentacion */


.container {
    width: 100%;
    height: 100vh;
    background: $color4;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box {
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container .box .title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
}
.container .box .title .block {
    width: 0%;
    height: inherit;
    background: $color5;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    display: flex;
}

.container .box .title h1 {
    font-family: 'Poppins';
    color: $color2;
    font-size: 31px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
}
.container .box .title h1 span {
    width:0px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: $color5;
    -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
    animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-bottom: -6px;
    position: absolute;
    bottom: 13px;
    right: -12px;
}


.role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: -10px;
}
.role .block {
    width: 0%;
    height: inherit;
    background: $color6;
    position: absolute;
    animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    animation-delay: 2s;
    display: flex;
}

.role p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    font-family: 'Lato';
    color: $color2;
    font-size: 12px;
    text-transform: $font2;
    letter-spacing: 5px;
}

@keyframes mainBlock {
0% {
    width: 0%;
    left: 0;
}
50% {
    width: 100%;
    left: 0;
}
100% {
    width: 0;
    left: 100%;}
}

@keyframes secBlock {
0% {
    width: 0%;
    left: 0;
}
50% {
    width: 100%;
    left: 0;
}
100% {
    width: 0;
    left: 100%;
}
}

@keyframes mainFadeIn {
0% {
    opacity: 0;
    }
100% {
    opacity: 1;
}
}


@keyframes popIn {
0% {
    width: 0px;
    height: 0px;
    background: $color5;
    border: 0px solid $color2;
    opacity: 0;
    }
50% {
    width: 10px;
    height: 10px;
    background: $color5;
    opacity: 1;
        bottom: 45px;
}
65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px
    }
80% {
    width: 10px;
    height: 10px;
    bottom: 20px
}
100% {
    width: 7px;
    height: 7px;
    background: $color5;
    border: 0px solid #222;
    bottom: 13px;

}
}

@keyframes secFadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 0.5;
}
}




@keyframes top {
0% {
    opacity: 0;
    bottom: -80px
}
100% {
    opacity: 1;
    bottom: 0px

}
}

@keyframes icon {
0% {
    opacity: 0;
    transform: scale(0.0);
}
50% {
    opacity: 1;
    transform: scale(1.3) rotate(-02deg);
}
100% {
    opacity: 1;
    bottom: 0px;
}
}

/* loader css */


.loader{
    position: fixed; 
    top:0;  
    left:0;
    height:100% ;
    width:100%; 
    z-index: 10000;
    background: $color4;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}
.loader  {
    min-width: 100%;
}


.loader.fade-out{
    top:-110%;
    opacity:0;
    transition: 2s;
}

/* -----inicio media query---------- */
/* -----inicio media query---------- */

@media only screen and (min-width: 1025px){

header a img{
    width: 440px;
    height: 110px;
}

.foot .cajaDatos .cajaCopy{
    padding-top: 0px;
    font-size: 14px;
}

}


@media only screen and (max-width: 768px){


.mainIndex{
    background-size: cover;
    background-position: center
}

#logo{
    padding-top: 25px;
    }

/* inicio query nav */

header nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
        
    ul{
        display: flex;
        flex-flow: wrap column;
        justify-content: space-between;
        height: 250px;
        margin-right: 42px;
        margin-top: 100px;
        grid-column: 2/3;
                
        li a{
            background-color: rgba(12, 12, 12, 0.7);
            color: $color2;
            text-shadow: 0px 0px 0px $color2;
            border: 1px solid #343a40;
        }
    }
}

ul li a:hover{
    color: $color2;
}

/* fin query nav */

/* inicio query footer */
.foot .cajaDatos{
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
        
    .cajaDatos1{
        text-align: center;

        .datos{
            padding-top: 5px;
            display: flex;
            flex-flow: wrap column;
            align-items: center;
            width: 100%;
        }
    }
    .cajaIco{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 15px;
    }
    .cajaCopy{
        padding-top: 10px;
        font-size: 13px;
    }
}
/* fin query footer */

}

@media only screen and (max-width: 480px){


#logo{
    padding-top: 50px;
    height: 85px;
}

nav{
    margin-top: 50px;
        ul li a{
            font-size: 20px;
        }
}

.foot .cajaDatos .cajaDatos1{
    align-self: center;

    .datos p{
        margin: 0px;
    }
}

}


@media only screen and (max-width: 321px){

#logo{
    width: 100%;
}
.mainIndex{
    height: 650px;
}

}


/* ------ fin  media query-------- */
/* ------ fin  media query-------- */

